:root {
    font-family: 'IBM Plex Mono', monospace;
    --transparent: (0,0,0,0);
}

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

p {
    margin: inherit;
    padding: inherit;
}

header {
    background-color: gray;
    padding: .5rem;
    border-bottom: 1px solid black;
}

footer {
    background-color: gray;
    padding: .5rem;
    border-top: 1px solid black;
    color: white;
}

nav > ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a.recipe-link {
    background-color: none;
}

nav > ul > li > a {
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    background-color: yellow;
}

nav > ul > li > a:hover {
    text-decoration: none;
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    background-color: white;
}

main {
    padding: 16px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform .25s;
}

img:hover {
    transform: scale(1.025);
    transition: transform .25s;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: lightgray;
}

footer {
    position: sticky;
    padding: 24px;
    text-align: center;
}

h2 {
    text-decoration-line: underline;
}

.recipe-rating {
    font-weight: bolder;
}

thead {
    background-color: darkgray;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
}
